.App {
    text-align: center;
}

.introPage {
    background: pink;
    width: 100vw;
    height: 100vh;
    position: relative;
}

h3.introH3 {
    padding-top: 250px;
}

.learnMoreIntoBtn {
    padding-top: 20px;
    margin-top: 5px;
    /* outline: none; */
}

.introBtnArrow {
    outline: none;
    border: none;
}

.fa-arrow-down {
    animation: blink 2s linear infinite;
    font-size: 30px;
    outline: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.aboutPage {
    background: purple;
    width: 100vw;
    height: 100vh;
    color: white;
}

.aboutH3 {
    padding-top: 100px;
}

.aboutParagraph {
    padding-top: 20px;
    width: 70%;
    margin: auto;
}

.portfolioPage {
    background: #f1f1f1;
    width: 100vw;
    height: 100vh;
}

.porfolioDiv {
    padding-top: 100px;
    padding-bottom: 50px;
}

.portfolioH3 {
    padding-bottom: 20px;
}

.fa-github {
    font-size: 50px;
    padding-bottom: 50px;
    color: black;
}

.card-colum {
    background: red;
    padding: 0;
}

.contacts {
    background: pink;
    width: 100vw;
    height: 100vh;
}

.contactH3 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.fa-linkedin-in,
.fa-twitter,
.fa-envelope-open-text {
    font-size: 30px;
    color: black;
    padding: 20px;
}

.fab:hover,
.fas:hover {
    color: white;
}