.App {
    text-align: center;
}

p {
    font-weight: 200;
}

.introPage {
    background: pink;
    width: 100vw;
    height: 100vh;
    position: relative;
}

h3.introH3 {
    padding-top: 250px;
    color: #2F4F4F;
}

.learnMoreIntoBtn {
    padding-top: 20px;
    margin-top: 5px;
    /* outline: none; */
}

.introBtnArrow {
    outline: none;
    border: none;
}

.fa-arrow-down {
    animation: blink 2s linear infinite;
    font-size: 30px;
    outline: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.aboutPage {
    background: purple;
    width: 100vw;
    height: 110vh;
    color: white;
}

.aboutH3 {
    padding-top: 80px;
}

.aboutParagraph {
    padding-top: 20px;
    width: 70%;
    margin: auto;
}

.fa-newspaper {
    padding-top: 50px;
    font-size: 40px;
}

.fa-bullhorn,
.fa-language {
    padding-top: 20px;
    font-size: 40px;
}

.portfolioPage {
    background: #f1f1f1;
    width: 100vw;
    height: 100vh;
}

.porfolioDiv {
    padding-top: 100px;
    padding-bottom: 50px;
}

.portfolioH3 {
    padding-bottom: 20px;
}

.fa-github {
    font-size: 40px;
    padding-bottom: 50px;
    color: black;
}

.card-column {
    padding: 0;
}

.cardsContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contacts {
    background: pink;
    width: 100vw;
    height: 100vh;
}

.contactH3 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.contactText {
    font-size: 20px;
}

.fa-linkedin-in,
.fa-twitter,
.fa-envelope-open-text {
    font-size: 30px;
    color: black;
    padding: 20px;
}

.fa-linkedin-in:hover,
.fa-twitter:hover,
.fa-envelope-open-text:hover {
    color: white;
}