.App {
    text-align: center;
}

.introPage {
    background: pink;
    width: 100vw;
    height: 100vh;
    position: relative;
}

h3.introH3 {
    padding-top: 250px;
}

.learnMoreIntoBtn {
    padding-top: 20px;
    margin-top: 5px;
    /* outline: none; */
}

.introBtnArrow {
    outline: none;
    border: none;
}

.fa-arrow-down {
    animation: blink 2s linear infinite;
    font-size: 30px;
    outline: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.aboutPage {
    background: purple;
    width: 100vw;
    height: 100vh;
    color: white;
}

.portfolioPage {
    background: #f1f1f1;
    width: 100vw;
    height: 100vh;
}

.card-colum {
    background: red;
    padding: 0;
}

.contactPage {
    background: pink;
    width: 100vw;
    height: 100vh;
}